/*

Connie Sivadon
VFW1303
21 March 2013
Project 3 styles.css

*/

body{
	background: #668;
	width:auto;
	margin: 50px auto;
	font-family: "Comic Sans MS";
	color: #CCC;
	line-height: 1.7em;
	font-weight: bold;
	}
	
hgroup{
	border: 20px outset #90C;
	padding-bottom: 20px;
	margin-bottom: 20px;
	text-align:center;
	}
	
h1{
	font-style:oblique;
}
	
fieldset{
	border: 15px outset #90C;
	}
	
a:hover{
	color:white;
	outline:none;
}

ul{
	border-spacing:40px;
	}
li{
	alignment-baseline:central;
}

.button{
  	background:#C9F;
	color:#000;	
 }

.button:hover {
  	background:#FFF;
	color:#90C
 }