/*

Connie Sivadon
VFW1303
14 March 2013
Project 1 styles.css

*/

body{
	background: #333;
	width:auto;
	margin: 50px auto;
	font-family: "Comic Sans MS";
	color: #CCC;
	line-height: 1.7em;
	}
	
hgroup{
	border-bottom: 2px outset #90C;
	padding-bottom: 20px;
	margin-bottom: 25px;
	text-align:center;
	}
	
h2{
	
	}